<nav>
  <div class="container">
    <a class="site-title" href="{{ "/" | relative_url }}">Menstrudel</a>
    
    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <label for="nav-toggle" class="nav-toggle-label">
      <i class="fas fa-bars"></i> </label>
    
    <ul class="nav-menu">
      <li><a href="{{ "/screenshots/" | relative_url }}">Screenshots</a></li>
      <li><a href="{{ "/privacy/" | relative_url }}">Privacy</a></li>
      <li><a href="{{ "/blog/" | relative_url }}">Blog</a></li>
      <li><a href="{{ '/faq/' | relative_url }}">FAQ</a></li>
      <li><a href="https://discord.gg/jWrH9DvACS">Discord</a></li>
      <li><a href="https://github.com/J-shw/Menstrudel">GitHub</a></li>
    </ul>
  </div>
</nav>
