<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ page.url | absolute_url }}"
    },
    "headline": "{{ page.title | escape }}",
    "description": "{{ page.excerpt | strip_html | strip_newlines | escape }}",
    "image": {
    "@type": "ImageObject",
    "url": "{{ page.image | absolute_url }}"
    },
    "author": {
    {% if page.author %}
        "@type": "Person",
        "name": "{{ page.author | escape }}"
    {% else %}
        "@type": "Organization",
        "name": "{{ site.author.name | escape }}"
    {% endif %}
    },
    "publisher": {
    "@type": "Organization",
    "name": "Menstrudel",
    "logo": {
        "@type": "ImageObject",
        "url": "{{ '/assets/images/favicon.png' | absolute_url }}"
    }
    },
    "datePublished": "{{ page.date | date_to_xmlschema }}",
    "dateModified": "{{ page.last_modified_at | default: page.date | date_to_xmlschema }}"
}
</script>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "name": "Home",
    "item": "{{ site.url }}/"
  },{
    "@type": "ListItem",
    "position": 2,
    "name": "Blog",
    "item": "{{ site.url }}/blog/"
  },{
    "@type": "ListItem",
    "position": 3,
    "name": "{{ page.title }}",
    "item": "{{ page.url | absolute_url }}"
  }]
}
</script>